<h1>Login</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <form
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm.value)"
      autocomplete="off"
    >
      <div class="form-group">
        <label for="userName">Username:</label>
        <em
          *ngIf="
            loginForm.controls['userName']?.invalid &&
            (loginForm.controls['userName']?.touched || mouseoverLogin)
          "
          >Required</em
        >
        <input
          type="text"
          [(ngModel)]="userName"
          name="userName"
          id="userName"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group">
        <label for="userName">Password:</label>
        <em
          *ngIf="
            loginForm.controls['password']?.invalid &&
            (loginForm.controls['password']?.touched || mouseoverLogin)
          "
          >Required</em
        >
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <div class="action-buttons">
        <button (click)="cancel()" type="button" class="btn btn-default">
          Cancel
        </button>
        <span
          (mouseenter)="mouseoverLogin = true"
          (mouseleave)="mouseoverLogin = false"
        >
          <button
            [disabled]="loginForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
