li {
  cursor: pointer;
}

li > a.active {
  color: #f97924;
}

.nav.navbar-nav {
  font-size: 15px;
}

#searchForm {
  margin-right: 50px;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
